/* Code snippets
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$code-background: #f5f2f0;
$code-border: 0;
$code-border-radius: 0; 


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$header-font: 'GothamBold', sans-serif;
$bold-font: 'GothamBold', sans-serif;
$default-font: 'GothamBook', sans-serif;
$logo-font: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
$menu-font: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;